
.container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 0;
  height: 0;
  overflow: visible;
}

@keyframes resizeAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

.resizeTriggers {
  animation: resizeAnimation 1ms;
  visibility: hidden;
  opacity: 0;
}

.resizeTriggers,
.resizeTriggers > div,
.contractTrigger:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}
.resizeTriggers > div {
  background: #eee;
  overflow: auto;
}
.contractTrigger:before {
  width: 200%;
  height: 200%;
}
